body {
  background-color: #333;
  font-family: sans-serif;
}
a:hover {
  background-color: #800;
}
a {
  border: 1px solid #600;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
  color: #fff;
  background-color: #600;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;

}
.base:hover {
background-color: #800;
}
canvas {
margin: auto;
display: block;
cursor: pointer;
}
.info{
color: #fff;
text-align: center;
}
.Bot{
color: #bbb;
text-align: center;
}
.navblock{
  position: fixed;
  text-align: center;
  bottom: 10%;
  left: 0;
  right: 0;
}
.base {
border: 1px solid
padding: 10px;
display: inline-block;
border-radius: 10px;
text-decoration: none;
text-align: center;
max-width: 200px;
color: #000;
}
.P1 {
  border: 1px solid #900;
  background-color: #900;
}
.P1:hover {
background-color: #f00;
}
.P2 {
    border: 1px solid #b83;
    background-color: #b83;
}

.P2:hover {
background-color: #f80;
}
.P3 {
    border: 1px solid #ca3;
    background-color: #ca3;
}
.P3:hover {
background-color: #ff0;
}
.P4 {
    border: 1px solid #8c2;
    background-color: #8c2;
}
.P4:hover {
background-color: #bf0;
}
.P5 {
    border: 1px solid #3b0;
    background-color: #3b0;
}
.P5:hover {
background-color: #4f0;
}
.P0 {
    border: 1px solid #609;
    background-color: #609;
}
.P0:hover {
background-color: #909;
}
