body {
  background-color: #333;
  font-family: sans-serif;
}
a {
  border: 1px solid #600;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
  color: #fff;
  background-color: #600;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;

}
a:hover {
background-color: #800;
}
canvas {
margin: auto;
display: block;
cursor: pointer;
}
.info{
color: #fff;
text-align: center;
}
.navblock{
  position: fixed;
  text-align: center;
  bottom: 10%;
  left: 0;
  right: 0;
}
.b1 {
  border: 1px solid #900;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
  color: #000;
  background-color: #900;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}
.b1:hover {
background-color: #f00;
}
.b2 {
    border: 1px solid #b83;
    padding: 10px;
    display: inline-block;
    max-width: 200px;
    color: #000;
    background-color: #b83;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.b2:hover {
background-color: #f80;
}
.b3 {
    border: 1px solid #ca3;
    padding: 10px;
    display: inline-block;
    max-width: 200px;
    color: #000;
    background-color: #ca3;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.b3:hover {
background-color: #ff0;
}
.b4 {
    border: 1px solid #8c2;
    padding: 10px;
    display: inline-block;
    max-width: 200px;
    color: #000;
    background-color: #8c2;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.b4:hover {
background-color: #bf0;
}
.b5 {
    border: 1px solid #3b0;
    padding: 10px;
    display: inline-block;
    max-width: 200px;
    color: #000;
    background-color: #3b0;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.b5:hover {
background-color: #4f0;
}
.b6 {
    border: 1px solid #609;
    padding: 10px;
    display: inline-block;
    max-width: 200px;
    color: #000;
    background-color: #609;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.b6:hover {
background-color: #909;
}
