body {
  font-family: sans-serif;
}
a {
  border: 1px solid blue;
  padding: 10px;

  margin: 10px;
  display: inline-block;
  color: white;
  background-color: blue;
  border-radius: 10px;
  text-decoration: none;
}
